.banner{
    width: 94%;
    height: 250px;
    margin:auto;
    display: flex;
    .disco{
        width: 30%;
        img{
            width: 100%;
            height: 100%;
        }
    }
   
    .descripcion{
        width: 100%;
        background: linear-gradient(0deg, rgba(224, 128, 128, 0.7), rgba(221, 75, 75, 0.7)), url('../img/caricatura.png');
        background-position:center right;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
        h2{
            font-family: Quicksand;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 27px;
            color: #FFFFFF;
        }
        p{
            font-family: Quicksand;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF
        }
        .button{
            position: relative;
            top: 30%;
            .reproduce,.seguir{
                margin-right: 10px;
                width: 117px;
                height: 31px;
                font-size: 14px;
                mix-blend-mode: normal;
                border-radius: 100px;
                text-align: center;
                &:active{
                    transform: scale(1.1);
                }
            }
            .reproduce{
                background: #E86060;
                border: 1px solid #E86060;
                color: #fff;
            }
            .seguir{
                border: 1px solid #E86060;
                color: #E86060;
                background-color: transparent;
                &:hover{
                    background-color: #E86060;
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width:600px){
    .banner{
        width: 94%;
        margin: 20% auto 0 auto;
        .disco{
            width: 80%;
            max-width: 80%;
        }
        .descripcion{
            width: 100%;
            background: linear-gradient(0deg, rgba(224, 128, 128, 0.7), rgba(221, 75, 75, 0.7)), url('../img/caricatura.png');
            background-position:center right;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 20px;
            h2{
                font-family: Quicksand;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
            }
            p{
                font-family: Quicksand;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 15px;
                color: #FFFFFF
            }
            .button{
                width: 100%;
                max-width: 100%;
                top: 1%;
                margin: 0 auto;
                .reproduce,.seguir{
                    margin-bottom: 4%;
                }
            }
        }
        
    }
}