.banner {
  width: 94%;
  height: 250px;
  min-height: 250px;
  margin: 1% 3%;
  display: flex;
  .disco {
    position: relative;
    overflow: hidden;
    width: 30%;
    height: 100%;
    // background: linear-gradient(to right,#d9d9d9 0%, rgba(201, 199, 199, 0.938) 20%,#d9d9d9 40%,#d9d9d9 100%);
    // animation: shimmer 1s linear 15;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        to right,
        #656871 0%,
        #888b94 20%,
        #656871 40%,
        #656871 100%
      );
      background-size: 450px 400px;
      background-repeat: no-repeat;
      animation: shimmer 1s linear 15;
    }
    @keyframes shimmer {
      0% {
        background-position: -450px 0;
      }
      100% {
        background-position: 450px 0;
      }
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 2px;
    }
  }

  .descripcion {
    width: 100%;

    padding: 20px;
    h2 {
      font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      color: #ffffff;
    }
    p {
      font-family: Quicksand;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
    }
    .button {
      position: relative;
      top: 30%;
      .reproduce,
      .seguir {
        margin-right: 10px;
        width: 117px;
        height: 31px;
        font-size: 14px;
        mix-blend-mode: normal;
        border-radius: 100px;
        text-align: center;
        &:active {
          transform: scale(1.1);
        }
      }
      .reproduce {
        background: #e86060;
        border: 1px solid #e86060;
        color: #fff;
      }
      .seguir {
        border: 1px solid #e86060;
        color: #e86060;
        background-color: transparent;
        &:hover {
          background-color: #e86060;
          color: #fff;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .banner {
    .disco {
      width: 50%;
    }
  }
}

@media (max-width: 600px) {
  .banner {
    background-color: #121116;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    max-height: 500px;
    min-height: 500px;
    padding: 70px 0 0 0;
    margin: 0;
    .disco {
      display: flex;
      justify-content: center;
      width: 40%;
      max-width: 40%;

      // min-width: 200px;
      // max-width: 200px;
      // min-height: 200px;
      // max-height: 200px;
      margin: 0 auto;
      border-radius: 50%;
      img {
        width: 100%;
      }
    }
    .descripcion {
      width: 80%;
      max-width: 80%;
      min-height: 210px;
      margin: 0 auto;
      h2 {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #ffffff;
        text-align: center;
        height: 40px;
        min-height: 30px;
      }
      p {
        text-align: center;
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #ffffff;
        min-height: 20px;
      }
      .button {
        width: 100%;
        max-width: 100%;
        display: flex;
        top: 1%;
        align-items: center;
        justify-content: center;
        .reproduce,
        .seguir {
          margin-right: 0;
          width: 120px;
          height: 40px;
          font-size: 14px;
        }
        .reproduce {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .banner {
    height: 440px;
    max-height: 440px;
    min-height: 440px;
  }
}
