.banner{
    width: 94%;
    height: 250px;
    margin:auto;
    display: flex;
    .disco{
        width: 30%;
        img{
            width: 100%;
            height: 100%;
        }
    }
   
    .descripcion{
        width: 100%;
       
        padding: 20px;
        h2{
            font-family: Quicksand;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 27px;
            color: #FFFFFF;
        }
        p{
            font-family: Quicksand;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF
        }
        .button{
            position: relative;
            top: 30%;
            .reproduce,.seguir{
                margin-right: 10px;
                width: 117px;
                height: 31px;
                font-size: 14px;
                mix-blend-mode: normal;
                border-radius: 100px;
                text-align: center;
                &:active{
                    transform: scale(1.1);
                }
            }
            .reproduce{
                background: #E86060;
                border: 1px solid #E86060;
                color: #fff;
            }
            .seguir{
                border: 1px solid #E86060;
                color: #E86060;
                background-color: transparent;
                &:hover{
                    background-color: #E86060;
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width:600px){
    .banner{
        background-color:#272a30;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:  0;
        height: 52vh;
        padding: 80px 0 0 0;
        .disco{
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 100%;
            margin:0 auto;
            img{
                width: 40%;
                border-radius: 50%;
            }
        }
        .descripcion{
            width: 80%;
            max-width: 80%;
            margin:0 auto;
            h2{
                font-family: Quicksand;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
                text-align: center;
            }
            p{
                text-align: center;
                font-family: Quicksand;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 15px;
                color: #FFFFFF
            }
            .button{
                width: 100%;
                max-width: 100%;
                display: flex;
                top: 1%;
                margin: 0 auto;
                .reproduce,.seguir{
                    margin-bottom: 4%;
                }
            }
        }
        
    }
}