.catalogo{
    display: flex;
    flex-direction: column;
    width: 100%;
    .busqueda{
        // position: fixed;
        width: 100%;
        margin:0 auto 25px auto;
        border: 1px solid #32323D;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .buscar{
            z-index:100;
            width: 50%;
            height:50px;
            margin: 10px;
            position: relative;
             &.active .autocom-box{
                padding: 10px 8px;
                opacity: 1;
                pointer-events:auto ;
            }
            &.active .autocom-box li{
                display: block;
            }
            .autocom-box{
                margin:5px 0;
                border-radius:10px;
                background:#23232D;
                width:100%;
                padding: 0px;
                max-height: 280px;
                overflow-y: auto;
                opacity: 0;
                pointer-events: auto;
                &::-webkit-scrollbar {
                    width: 8px;     /* Tamaño del scroll en vertical */
                    height: 8px;    /* Tamaño del scroll en horizontal */
                    display: none;
                }
                li{
                    list-style: none;
                    padding: 8px 12px;
                    width: 100%;
                    cursor: default;
                    border-radius: 3px;
                    display: block;
                    color:#fff;
                    &:hover{
                        background-color:#42424C;
                    }
                }

            }
            input{
                width: 90%;
                margin: auto;
                background: #121216;
                border: none;
                box-sizing: border-box;
                border-radius: 100px;
                padding: 10px 40px;
                outline: none;
                color: #fff;
                &::placeholder{
                color: #60606A;
                font-family: Quicksand;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                }
            }
            img{
                position: absolute;
                top:30%;
                left: 90%;
                right: 0;
            }
        }
        .usuario{
            display: flex;
            align-items: center;
            img{
               margin: auto 10px;
            }
            p{
                color: #60606A;
                margin: 0 10px;
            }
        }
    }
}

@media (max-width:600px){
    .catalogo{
        width: 100%;
        grid-column: 1;
        .busqueda{
            background-color:#121116;
            position: fixed;
            height: 70px;
            max-height: 80px;
            z-index: 100;
            width: 100%;
            margin:auto;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-items: center;
            border: none;
            .buscar{
                width: 90%;
                margin: 10px auto;
                border-radius: 50px;
                input{
                    background-color:#32323C;
                    width: 100%;
                    height: 50px;
                    max-height: 50px;
                    padding:0 50px ;
                }
                img{
                    width: 25px;
                    top: 20%;
                    right: 100;
                    left: 3%;
                }
            }   
            .usuario{
                p{
                   display: none;
                }
                img{
                    display: none;
                }
            }
        }
    }
}