.catalogo{
    display: flex;
    flex-direction: column;
    width: 100%;
    .busqueda{
        // position: fixed;
        width: 100%;
        margin:0 auto 25px auto;
        border: 1px solid #32323D;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .buscar{
            width: 50%;
            margin: 10px;
            position: relative;
            input{
                width: 90%;
                margin: auto;
                background: #121216;
                border: none;
                box-sizing: border-box;
                border-radius: 100px;
                padding: 10px 40px;
                outline: none;
                color: #fff;
                &::placeholder{
                color: #60606A;
                font-family: Quicksand;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                }
            }
            img{
                position: absolute;
                bottom: 25%;
                right: 10px;
                left: 2%;
            }
        }
        .usuario{
            display: flex;
            align-items: center;
            img{
               margin: auto 10px;
            }
            p{
                color: #60606A;
                margin: 0 10px;
            }
        }
    }
}

@media (max-width:600px){
    .catalogo{
        width: 100%;
        grid-column: 1;
        .busqueda{
            background-color:#272a30;
            position: fixed;
            height: 60px;
            max-height: 80px;
            z-index: 100;
            width: 100%;
            margin:auto;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-items: center;
            border: none;
            .buscar{
                width: 90%;
                margin: 10px auto;
                input{
                    background-color:#272a30;
                    width: 100%;
                    height: 50px;
                    max-height: 50px;
                }
                img{
                    bottom: 15px;
                    right: 10px;
                }
            }   
            .usuario{
                p{
                   display: none;
                }
                img{
                    display: none;
                }
            }
        }
    }
}