.resultado{
    width: 94%;
    margin:10px auto 10% auto;
    h1{
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: #E86060;
        margin: 10px 0;
    }
    .musica{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(5,1fr);
        .inf-musica{
            display: flex;
            flex-direction: column;
            width: 100%;
            .playImage{
                position: relative;
                img{
                    width: 100%;
                    border-radius: 4px;
                    height: 180px;
                }
                .playImg{
                    position: absolute;
                    left: 0;
                    width: 160px;
                    padding: 0 65px;
                    opacity: 0.7;
                    &:active{
                        transform: scale(1.1);
                    }
                }
            }
            
            h3{
                font-family: Quicksand;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                color:#FFFFDA;
            }
            p{
                font-family: Quicksand;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 17px;
                color: #636348;
            }
        }
    }
}

@media (max-width:1100px){
    .resultado{
        .musica{
            grid-template-columns: repeat(4,1fr);
            
        }
    }
}
@media (max-width:800px){
    .resultado{
        margin:10px auto 20% auto;
        .musica{
            grid-template-columns: repeat(3,1fr);
            
        }
    }
}

@media (max-width:600px){
    .resultado{
        width: 94%;
        .musica{
            grid-template-columns: repeat(2,1fr);
 
        }
    }
}