* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  width: 100%;
  max-width: 100%;
  display: grid;
  background-color: #121216;
  grid-template-columns: 18% 82%; }
  .contenedor .navegacion {
    width: 100%;
    height: 100vh; }
    .contenedor .navegacion .top {
      position: fixed;
      height: 100%;
      width: 18%;
      background: #191922;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
      .contenedor .navegacion .top .logo {
        width: 80%;
        margin: 0 auto;
        padding: 10% 0; }
        .contenedor .navegacion .top .logo img {
          width: 100%;
          height: 100%; }
      .contenedor .navegacion .top .libreria, .contenedor .navegacion .top .playlist {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr); }
        .contenedor .navegacion .top .libreria h1, .contenedor .navegacion .top .playlist h1 {
          font-family: Quicksand;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 20px;
          color: #FFFFFF; }
        .contenedor .navegacion .top .libreria ul li, .contenedor .navegacion .top .playlist ul li {
          text-decoration: none;
          list-style: none;
          font-family: Quicksand;
          font-style: normal;
          font-weight: 100;
          font-size: 14px;
          line-height: 24px;
          color: #9F7575; }
          .contenedor .navegacion .top .libreria ul li:hover, .contenedor .navegacion .top .playlist ul li:hover {
            cursor: pointer;
            color: #E86060; }

@media (max-width: 800px) {
  .contenedor {
    width: 100vw;
    grid-template-columns: repeat(1, 1fr); }
    .contenedor .navegacion {
      display: none; } }
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background: #23232D;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer .artista {
    width: 20%;
    max-width: 20%;
    align-items: center;
    display: flex; }
    .footer .artista img {
      width: 80px;
      height: 80px; }
    .footer .artista .informe {
      height: 80px;
      width: 100%;
      padding: 10px 20px;
      display: grid;
      grid-template-columns: repeat(1, fr); }
      .footer .artista .informe .cancion {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF; }
      .footer .artista .informe .album {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF; }
  .footer .controles img {
    margin: 0 10px; }
    .footer .controles img:active {
      transform: scale(1.2); }
  .footer .audio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px; }
    .footer .audio input[type=range] {
      -webkit-appearance: none;
      margin-right: 20px;
      width: 100%; }
    .footer .audio input[type=range]:focus {
      outline: none; }
    .footer .audio input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 6px;
      cursor: pointer;
      background: #ffffff; }
    .footer .audio input[type=range]::-webkit-slider-thumb {
      height: 20px;
      width: 20px;
      border-radius: 20px;
      background: #ffffff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -8px; }

@media (max-width: 600px) {
  .footer {
    background-color: #272a30; }
    .footer .artista {
      width: 80%;
      max-width: 80%; }
      .footer .artista .informe {
        padding: 5px 10px; }
        .footer .artista .informe .cancion {
          font-size: 14px;
          line-height: 15px;
          color: #FFFFFF;
          margin: 1px 0 5px 0; }
        .footer .artista .informe .album {
          font-size: 13px;
          line-height: 15px; }
    .footer .controles {
      width: 50%;
      max-width: 50%; }
      .footer .controles img {
        width: 20%;
        max-width: 20%;
        padding: 0;
        margin: 8px; }
        .footer .controles img:active {
          transform: scale(1.2); }
    .footer .audio {
      display: none; } }
.catalogo {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .catalogo .busqueda {
    width: 100%;
    margin: 0 auto 25px auto;
    border: 1px solid #32323D;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .catalogo .busqueda .buscar {
      width: 50%;
      margin: 10px;
      position: relative; }
      .catalogo .busqueda .buscar input {
        width: 90%;
        margin: auto;
        background: #121216;
        border: none;
        box-sizing: border-box;
        border-radius: 100px;
        padding: 10px 40px;
        outline: none;
        color: #fff; }
        .catalogo .busqueda .buscar input::placeholder {
          color: #60606A;
          font-family: Quicksand;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px; }
      .catalogo .busqueda .buscar img {
        position: absolute;
        bottom: 25%;
        right: 10px;
        left: 2%; }
    .catalogo .busqueda .usuario {
      display: flex;
      align-items: center; }
      .catalogo .busqueda .usuario img {
        margin: auto 10px; }
      .catalogo .busqueda .usuario p {
        color: #60606A;
        margin: 0 10px; }

@media (max-width: 600px) {
  .catalogo {
    width: 100%;
    grid-column: 1; }
    .catalogo .busqueda {
      background-color: #272a30;
      position: fixed;
      height: 60px;
      max-height: 80px;
      z-index: 100;
      width: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      border: none; }
      .catalogo .busqueda .buscar {
        width: 90%;
        margin: 10px auto; }
        .catalogo .busqueda .buscar input {
          background-color: #272a30;
          width: 100%;
          height: 50px;
          max-height: 50px; }
        .catalogo .busqueda .buscar img {
          bottom: 15px;
          right: 10px; }
      .catalogo .busqueda .usuario p {
        display: none; }
      .catalogo .busqueda .usuario img {
        display: none; } }
.banner {
  width: 94%;
  height: 250px;
  margin: auto;
  display: flex; }
  .banner .disco {
    width: 30%; }
    .banner .disco img {
      width: 100%;
      height: 100%;
      border-radius: 2px; }
  .banner .descripcion {
    width: 100%;
    padding: 20px; }
    .banner .descripcion h2 {
      font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      color: #FFFFFF; }
    .banner .descripcion p {
      font-family: Quicksand;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF; }
    .banner .descripcion .button {
      position: relative;
      top: 30%; }
      .banner .descripcion .button .reproduce, .banner .descripcion .button .seguir {
        margin-right: 10px;
        width: 117px;
        height: 31px;
        font-size: 14px;
        mix-blend-mode: normal;
        border-radius: 100px;
        text-align: center; }
        .banner .descripcion .button .reproduce:active, .banner .descripcion .button .seguir:active {
          transform: scale(1.1); }
      .banner .descripcion .button .reproduce {
        background: #E86060;
        border: 1px solid #E86060;
        color: #fff; }
      .banner .descripcion .button .seguir {
        border: 1px solid #E86060;
        color: #E86060;
        background-color: transparent; }
        .banner .descripcion .button .seguir:hover {
          background-color: #E86060;
          color: #fff; }

@media (max-width: 600px) {
  .banner {
    background-color: #272a30;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    max-height: 15%;
    min-height: 15%;
    padding: 70px 0 0 0; }
    .banner .disco {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      margin: 0 auto; }
      .banner .disco img {
        width: 40%;
        border-radius: 50%; }
    .banner .descripcion {
      width: 80%;
      max-width: 80%;
      margin: 0 auto; }
      .banner .descripcion h2 {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        text-align: center; }
      .banner .descripcion p {
        text-align: center;
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #FFFFFF; }
      .banner .descripcion .button {
        width: 100%;
        max-width: 100%;
        display: flex;
        top: 1%;
        align-items: center;
        justify-content: center; }
        .banner .descripcion .button .reproduce, .banner .descripcion .button .seguir {
          margin-right: 0;
          width: 120px;
          height: 40px;
          font-size: 14px; }
        .banner .descripcion .button .reproduce {
          margin-right: 10px; } }
@media (max-width: 400px) {
  .banner {
    height: 13%;
    max-height: 13%;
    min-height: 13%; } }
.resultado {
  width: 94%;
  margin: 10px auto 10% auto; }
  .resultado h1 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #E86060;
    margin: 10px 0; }
  .resultado .musica {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr); }
    .resultado .musica .inf-musica {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .resultado .musica .inf-musica .playImage {
        position: relative; }
        .resultado .musica .inf-musica .playImage img {
          width: 100%;
          border-radius: 4px;
          height: 180px; }
        .resultado .musica .inf-musica .playImage .playImg {
          position: absolute;
          left: 0;
          width: 160px;
          padding: 0 65px;
          opacity: 0.7; }
          .resultado .musica .inf-musica .playImage .playImg:active {
            transform: scale(1.1); }
      .resultado .musica .inf-musica h3 {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFDA; }
      .resultado .musica .inf-musica p {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: #636348; }

@media (max-width: 1100px) {
  .resultado .musica {
    grid-template-columns: repeat(4, 1fr); } }
@media (max-width: 800px) {
  .resultado {
    margin: 10px auto 20% auto; }
    .resultado .musica {
      grid-template-columns: repeat(3, 1fr); } }
@media (max-width: 600px) {
  .resultado {
    width: 94%; }
    .resultado .musica {
      grid-template-columns: repeat(2, 1fr); } }
.cargando {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .cargando .spinner {
    width: 100px;
    height: 100px; }

@media (max-width: 500px) {
  .cargando .spinner {
    width: 50px;
    height: 50px; } }

/*# sourceMappingURL=style.css.map */
